/**
 * MUI Ripple module
 */

.mui-btn__ripple-container {
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.mui-ripple {
  border-radius: 50%;
  height: 50px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  width: 50px;
  overflow: hidden;

  &.mui--is-animating {
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1),
                width 0.3s cubic-bezier(0, 0, 0.2, 1),
                height 0.3s cubic-bezier(0, 0, 0.2, 1),
                opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &.mui--is-visible {
    opacity: 0.3;
  }
}

.mui-btn .mui-ripple {
  background-color: $mui-btn-default-ripple-color;
}

.mui-btn--primary .mui-ripple {
  background-color: $mui-btn-primary-ripple-color;
}

.mui-btn--dark .mui-ripple {
  background-color: $mui-btn-dark-ripple-color;
}

.mui-btn--danger .mui-ripple {
  background-color: $mui-btn-danger-ripple-color;
}

.mui-btn--accent .mui-ripple {
  background-color: $mui-btn-accent-ripple-color;
}

.mui-btn--flat .mui-ripple {
  background-color: $mui-btn-flat-ripple-color;
}

.mui-btn[disabled] 
.mui-btn.mui-btn--disabled {
  .mui-ripple {
    background-color: transparent;
  }
}

/*
// ============================================================================
// RIPPLE
// ============================================================================
.mui-ripple-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;

  // initial properties
  opacity: 0.4;
  transform: scale(0.0001);

  &.mui--animate-in {
    opacity: 0;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1),
                opacity 0.6s cubic-bezier(0, 0, 0.2, 1);
  }

  &.mui--active {
    opacity: 0.3;
  }

  &.mui--animate-out {
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0, 0, 0.2, 1);
  }
}



// ============================================================================
// BUTTON-SPECIFIC STYLES
// ============================================================================
.mui-btn > .mui-ripple-effect {
  background-color: $mui-btn-default-ripple-color;
}

.mui-btn--primary > .mui-ripple-effect {
  background-color: $mui-btn-primary-ripple-color;
}

.mui-btn--dark > .mui-ripple-effect {
  background-color: $mui-btn-dark-ripple-color;
}

.mui-btn--danger > .mui-ripple-effect {
  background-color: $mui-btn-danger-ripple-color;
}

.mui-btn--accent > .mui-ripple-effect {
  background-color: $mui-btn-accent-ripple-color;
}

.mui-btn--flat > .mui-ripple-effect {
  background-color: $mui-btn-flat-ripple-color;
}
*/
